<br>
<div class="card is-horizontal">
  <div class=" card-header" style="font-weight: 0;align-text: center;padding: 0.75rem;display: flex;">
    <h3>balasan dari : <b> <%= comment.pengguna.email %></b>, pada <%= time_ago_in_words(@tulisan.created_at) %></h3>
  </div>
  <div class="card-content">
    <%= comment.comment  %>
  </div>
  <div class="card-footer">
    <%= link_to "Hapus", [comment.tulisan, comment], method: :delete,class: "button is-danger is-rounded" ,data: { confirm: "Kamu Yakin ? UwU" } %>
    <%= link_to "Ubah", edit_tulisan_comment_path(comment.tulisan,comment), class: "button is-warning is-rounded" %>
  </div>
</div>
<br>
