<div class="card card-content">
  <%= simple_form_for([@tulisan, @tulisan.comments.build]) do |f| %>
    <%= f.input :comment,class: "input" %>
    <%= f.submit :balas,class: "button is-primary" %>
  <% end %>
</div>
