<%= form_with(model: tulisan, local: true) do |form| %>
  <% if tulisan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tulisan.errors.count, "error") %> prohibited this tulisan from being saved:</h2>

      <ul>
      <% tulisan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :judul %>
    <%= form.text_area :judul %>
  </div>

  <div class="field">
    <%= form.label :isi %>
    <%= form.text_area :isi %>
  </div>

  <div class="field">
    <%= form.label :penulis %>
    <%= form.text_area :penulis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
