<p id="notice"><%= notice %></p>

<h1 class="title">Tulisan</h1>
<%= link_to 'Tambah Tulisan', new_tulisan_path,class: "button is-primary is-rounded is-right" %>
<hr>
    <% @tulisans.each do |tulisan| %>
      <div class="box article">
        <div class="media-content">
          <div class="media-right">
            <%= link_to tulisan.judul, tulisan,class: "disable is-light is-rounded title"  %>
            <h3 class="is-size-6">Opening Post : <%= tulisan.pengguna.email %></h3>
            <hr>
          </div>
         <div class="">
          <div class="columns is-variable is-2-mobile is-2-tablet is-3-desktop is-8-widescreen is-2-fullhd">
          </div>
        </div>
        </div>
      </div>
    <% end %>
<br>

<%= paginate @tulisans %>
