<p id="notice"><%= notice %></p>

<p>
  <h1 class="title"><%= @tulisan.judul %></h1>
  <h3> Trit dipublis oleh :   <b>  <%= @tulisan.penulis %></b>, pada <%= time_ago_in_words @tulisan.created_at %></h3>
</p>
<hr>
<div class="card is-rounded">
  <header class="card-header">
    <h3 class="" style="font-weight: 0;align-text: center;padding: 0.75rem;display: flex;">
    dipublis oleh :   <b>  <%= @tulisan.penulis %></b>, pada <%= time_ago_in_words @tulisan.updated_at %>
    </h3>
    <div href="#" class="card-header-icon" aria-label="more options" style="padding: 0.75rem;display: flex">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
     </span>
    </div>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @tulisan.isi %>
      <br>
    </div>
  </div>
  <footer class="card-footer">
          <%= link_to 'Edit', edit_tulisan_path(@tulisan),class: "button is-warning is-rounded card-footer-item"%>
          <%= link_to 'Hapus', @tulisan, method: :delete, data: { confirm: 'Are you sure?' },class: "button is-rounded is-danger card-footer-item" %>
 
  </footer>
</div>
<div>
</div>

<%= render @tulisan.comments %>

<%= render "comments/form" %>

<%= link_to 'Back', tulisans_path %>
