<!DOCTYPE html>
<html>
  <head>
    <title>K</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--
    Dikembangkan oleh : Rachellia Agata 
  -->
    <nav class="navbar is-fixed-top">
      <div class="container is-small">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/logos/ftw/ftw_mark_white.png" alt="KCSI Brand">
            <span class="is-size-7 has-text-weight-light">&nbsp;&nbsp;Kelaurga Komputer Science</span>
          </a>
          <div id="navbar-toggle" role="button" tabindex="0" class="navbar-burger burger">
            <span>
            </span>
            <span>
            </span>
            <span>
            </span>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/penggunas/sign_in"> Sign in</a>
            <a class="navbar-item" href="/penggunas/sign_up"> Sign ip</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br> 
    <div class="container is-fluid" style="padding: 1.5rem;">
      <%= yield %>
    </div>
        <script type="text/javascript">
        document.getElementById("navbar-toggle").addEventListener ("click", toggleNav);
        function toggleNav() {
                var nav = document.getElementById("navbar-menu");
                var className = nav.getAttribute("class");
                if(className == "navbar-right navbar-menu") {
                    nav.className = "navbar-right navbar-menu is-active";
                } else {
                    nav.className = "navbar-right navbar-menu";
                }
        }
    </script>
  </body>
</html>
